html{
    overflow-x: hidden;
}

.judul{
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    font-size: 56px;
    color: #1F8C8C;
    height: 84px;
}

.subjudul{
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    color: #333333;
    font-size: 24px;
    height: 61.25px;
}

.hijauGradient{
    background: linear-gradient(90deg, #1F8C8C 0%, #24BFA3 111.76%);
}

.dialogBox{
    max-width: 50vw;
    height: auto;
}

.content{
    height: 100vh;
}

.imgage{
    z-index: -1;
}

.footer {
    background-color: #1F4949;
    min-height:30vh;
    width:100vw;
}

.foto-kontak img {
    margin-top: 3em;
    border-radius:50%;
    width:100px;
    height:100px;
    filter: grayscale();
    transition: 0.4s;
}

.foto-kontak img:hover{
    filter: none;
}

.shape1{
    position: absolute;
    top: 45vh;
}

.shape2{
    top: 10vh;
    left: 80vw;
    position: absolute;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    background-color: #ffffff;
}

.dropdown-content a:hover {
    background-color: #d9fff4;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-item:last-child {
    padding-right: 10.5em;
}

.nav-item {
    padding: 0.9em;
}

.navbar-brand {
    padding-left: 8rem;
}

.nav-link:hover {
    color: black;
}

a {
    color: #333333;
}

@media only screen and (max-width: 991px) {
    .navbar-brand {
        padding-left: 1rem;
    }
}