@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

a {
    color: #333333;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    background-color: #ffffff;
}

.dropdown-content a:hover {
    background-color: #d9fff4;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-item:last-child {
    padding-right: 10.5em;
}

.nav-item {
    padding: 0.9em;
}

.navbar-brand {
    padding-left: 8rem;
}

.nav-link:hover {
    color: black;
}

.jawab{
    padding-bottom: 100vmin;
    /* background: rgb(31,140,140); */
    /* background: linear-gradient(90deg, rgba(31,140,140,1) 0%, rgba(36,191,163,1) 100%); */
    width: 100%;
}

/*h1{*/
/*    font-weight: 800;*/
/*    color: #1F8C8C;*/
/*    font-size: 2.5em;*/
/*}*/

#score{
    border-radius: 30px;
    font-weight: bold;
    background: linear-gradient(90deg, #1F8C8C 0%, #24BFA3 111.76%);
    padding: 0.1em 0em;
    color: white;
    font-size: 1em;
}

.question{
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 5em;
    background-color: #F2EBDB;
    box-shadow: 3px 4px 9px 2px rgba(0,0,0,0.21);
    border-radius: 1em;
    font-size: 1em;
}

/*.answer{*/
/*    width: 100%;*/
/*    padding-left: 2em;*/
/*    padding-right: 1em;*/
/*    padding-top: 1em;*/
/*    min-height: 50px;*/
/*    background-color: #FFFFFF;*/
/*    box-shadow: 3px 4px 9px 2px rgba(0,0,0,0.21);*/
/*    border-radius: 1em;*/
/*    margin-bottom: 0.5em;*/
/*    padding-bottom: 1.5em;*/
/*}*/

.form-control {
    border: none;
    background-color:#B0D9CD;
    margin-top:1em;
    padding: 1em;
    border-radius: 30px;
}

.mb-2{
    font-size: 2em;
    color: #1F8C8C;
    font-weight: 800;
}


#timerr {
    font-size: 0.8em;
    background: linear-gradient(90deg, #1F8C8C 0%, #24BFA3 111.76%);
    /*padding: 2em;*/
    min-width: 13em;
    height: 2em;
    color: #ffffff;
    font-weight: 700;
    float: right;
    /*border-radius: 15px;*/
}

#title{
    font-weight: 800;
    font-size: 2em;
    color: #ffffff;
    background-color: #1F8C8C;

}
#submit {
    border-radius: 30px;
    font-weight: bold;
    background: linear-gradient(90deg, #1F8C8C 0%, #24BFA3 111.76%);
    width: 5em;
    color: white;
    font-size: 1em;
    justify-content: center;
    margin-bottom: 4em;
    float: right;
}

.footer {
    background-color: #1F4949;
    min-height:30vh;
    width:100vw;
}

.foto-kontak img {
    margin-top: 3em;
    border-radius:50%;
    width:100px;
    height:100px;
    filter: grayscale();
    transition: 0.4s;
}

.foto-kontak img:hover{
    filter: none;
}


.option {
    /*color: linear-gradient(90deg, #1F8C8C 0%, #24BFA3 111.76%);*/
    background: white;
    border-radius: 30px;
    padding: 0.5em;
    padding-left: 1em;
    width: 10em;
    font-size: 1em;
    justify-content: center;
    box-shadow: 3px 4px 9px 2px rgba(0,0,0,0.21);
    cursor: pointer;
    width: 100%;
    min-height: 2em;
    margin-bottom: 0.8em;
}

.selected {
    background: linear-gradient(90deg, #1F8C8C 0%, #24BFA3 111.76%);
    border-radius: 30px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    min-height: 2em;
    width: 100%;
}

@media only screen and (max-width: 991px) {
    .navbar-brand {
        padding-left: 1rem;
    }

    .choiceButton {
        width: 50%;
    }

    .essayButton {
        width: 50%;
    }
}