@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

a {
    color: #333333;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    background-color: #ffffff;
}

.dropdown-content a:hover {
    background-color: #d9fff4;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-item:last-child {
    padding-right: 10.5em;
}

.nav-item {
    padding: 0.9em;
}

.navbar-brand {
    padding-left: 8rem;
}

.nav-link:hover {
    color: black;
}

#quiz-div {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    width: 50%;
    padding: 0.5em;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
}

.form-control {
    border: none;
    background-color:#B0D9CD;
    margin-top:1em;
    padding: 1em;
    border-radius: 30px;
}

.mb-2{
    font-size: 2em;
    color: #1F8C8C;
    font-weight: 800;
}

#next{
    border-radius: 30px;
    font-weight: bold;
    background: linear-gradient(90deg, #1F8C8C 0%, #24BFA3 111.76%);
    padding: 1em;
    width: 5em;
    color: white;
    font-size: 1em;
    justify-content: center;
}

.choiceButton{
    border-radius: 30px;
    font-weight: bold;
    background: linear-gradient(90deg, #1F8C8C 0%, #24BFA3 111.76%);
    padding: 3em;
    color: white;
    font-size: 1em;
    justify-content: center;
    margin-right: 2em;
}

.essayButton{
    border-radius: 30px;
    font-weight: bold;
    background: linear-gradient(90deg, #1F8C8C 0%, #24BFA3 111.76%);
    padding: 0.5em;
    color: white;
    font-size: 1em;
    justify-content: center;
    margin-left: 2em;
}

ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    margin: 0;
    padding: 0;
}

ol li {
    counter-increment: my-awesome-counter;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    padding: 3em;
}

ol li::before {
    content: "Number " counter(my-awesome-counter);
    font-weight: 700;
    font-size: 1.5em;
    color: #1F8C8C;

}

.deleteButton {
    margin-top: 2em;
    width: 10%;
    border-radius: 30px;
    font-weight: bold;
    background: linear-gradient(90deg, #8C1F1F 0%, #BF2424 111.76%);
    padding: 0.5em;
    color: white;
    font-size: 1em;
    justify-content: center;
}

#titlenya {
    font-size: 1em;
    margin-top: 2em;
}

#back{
    border-radius: 30px;
    font-weight: bold;
    background: linear-gradient(90deg, #1F8C8C 0%, #24BFA3 111.76%);
    padding: 1em;
    width: 5em;
    color: white;
    font-size: 1em;
    justify-content: center;
    margin-left: 1em;
}

#finish{
    border-radius: 30px;
    font-weight: bold;
    background: linear-gradient(90deg, #1F8C8C 0%, #24BFA3 111.76%);
    padding: 1em;
    width: 5em;
    color: white;
    font-size: 1em;
    justify-content: center;
}

.footer {
    background-color: #1F4949;
    min-height:30vh;
    width:100vw;
}

.foto-kontak img {
    margin-top: 3em;
    border-radius:50%;
    width:100px;
    height:100px;
    filter: grayscale();
    transition: 0.4s;
}

.foto-kontak img:hover{
    filter: none;
}


@media only screen and (max-width: 991px) {
    .navbar-brand {
        padding-left: 1rem;
    }

    .choiceButton{
        width: 50%;
    }

    .essayButton{
        width: 50%;
    }
}

