*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.judul{
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    font-size: 56px;
    color: #1F8C8C;
    height: 84px;
}

.subjudul{
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    color: #F2EBDC;
    font-size: 24px;
    height: 61.25px;
}

.hijauGradient{
    background: linear-gradient(90deg, #1F8C8C 0%, #24BFA3 111.76%);
}

.bgJudul{
    border-radius: 1.5vh;
}

.details{
    width: 400px;
    height: auto;
}

.statsBoard{
    width: 100%;
    max-width: 1200px;
}

.cardDetails{
    max-height: 75vh;
}

.card{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.leaderboardTitle{
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
}

.leaderboardList{
    padding: 0.5rem;
    margin: 1rem;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    color: #F2EBDC;
    font-size: 24px;
}



.subjudulStat{
    color: #333333;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
}

.statBox{
    margin: auto;
    margin-top: 1rem;
    max-width: 300px;
}

.nomorStat{
    color: #F2EBDC;
    font-weight: 700;
    font-size: 64px;
    font-family: 'Nunito', sans-serif;
}

a {
    color: #333333;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    background-color: #ffffff;
}

.dropdown-content a:hover {
    background-color: #d9fff4;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-item:last-child {
    padding-right: 10.5em;
}

.nav-item {
    padding: 0.9em;
}

.navbar-brand {
    padding-left: 8rem;
}

.nav-link:hover {
    color: black;
}

.content{
    display: grid;
    overflow: hidden;
    align-items: center;
    margin: 0 auto;
}

.footer {
    background-color: #1F4949;
    min-height:30vh;
    width:100vw;
}

.foto-kontak img {
    margin-top: 3em;
    border-radius:50%;
    width:100px;
    height:100px;
    filter: grayscale();
    transition: 0.4s;
}

.foto-kontak img:hover{
    filter: none;
}

#imageCard {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


@media only screen and (max-width: 991px) {
    .navbar-brand {
        padding-left: 1rem;
    }
}
