@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

a {
    color: #333333;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    background-color: #ffffff;
}

.dropdown-content a:hover {
    background-color: #d9fff4;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-item:last-child {
    padding-right: 10.5em;
}

.nav-item {
    padding: 0.9em;
}

.navbar-brand {
    padding-left: 8rem;
}

.nav-link:hover {
    color: black;
}


section{
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background: linear-gradient(270.17deg, #B0D9CD 29.34%, #80BFB4 160.08%);
    border-radius: 0 0 40% 40%;
    /* transform: scale(1.3); */
}

section .content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}

section h2{
    font-size: 3em;
    color:#1F8C8C;
    font-weight: 900;
}

.boxContainer {
    position: relative;
    width: 55em;
    height: 2.5em;
    background-color: #ffffff;
    padding: 0px 10px;
    border-radius: 50px;
    margin: auto;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.1);
}

.elementsContainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

#searchBar {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 20px;
    border-radius: 50px;
}

#searchBar:focus{
    outline: none;
}

.elementsContainer .material-icons {
    font-size: 25px;
    color: #1F8C8C;
    border: none;
}

.quiz-area{
    padding: 80px 0;
}

.card{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 15px;
}

.img1 img{
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}

.main-text {
    padding: 30px 0;
    text-align: center;
}

.main-text h2 {
    color: #1F8C8C;
    font-weight: 800;
    font-size: 1.5em;
}

.main-text p{
    font-weight: 400;
    padding: 0 35px;
    color: #333333;
}

#score{
    border-radius: 30px;
    font-weight: bold;
    background: linear-gradient(90deg, #1F8C8C 0%, #24BFA3 111.76%);
    padding: 0.1em 0em;
    color: white;
    font-size: 1em;
    justify-content: center;
}

.footer {
    background-color: #1F4949;
    min-height:30vh;
    width:100vw;
}

.foto-kontak img {
    margin-top: 3em;
    border-radius:50%;
    width:100px;
    height:100px;
    filter: grayscale();
    transition: 0.4s;
}

.foto-kontak img:hover{
    filter: none;
}

.resultText{
    z-index: 1;
    font-weight: 700;
    font-size: 36px;
}

@media only screen and (max-width: 991px) {
    .navbar-brand {
        padding-left: 1rem;
    }

    section h2{
        font-size: 2.5em;
    }

    .boxContainer {
        width: 40em;
        height: 2.5em;
    }

}
  