@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

*{
    font-family: 'Nunito', sans-serif;
}

.profile-photos{
    width: 250px;
    height: 250px;
    border-color: #1F8C8C;
    border-width: thick;
    border-style: solid;
    object-fit: cover;
}

a {
    color: #333333;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    background-color: #ffffff;
}

.dropdown-content a:hover {
    background-color: #d9fff4;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-item:last-child {
    padding-right: 10.5em;
}

.nav-item {
    padding: 0.9em;
}

.navbar-brand {
    padding-left: 8rem;
}

.nav-link:hover {
    color: black;
}

.backgroundGradient{
    position: absolute;
    width: 100vw;
    height: auto;
    z-index: -1;
}

.biodataContainer{
    height: 50vh;
    align-items: center;
    max-height: fit-content;
}

.namaUser{
    font-size: 56px;
    font-weight: bold;
}

.Username{
    font-size: 24px;
    font-style: italic;
}
.subteksBiodata{
    font-size: 21px;
}

.mailBirth{
    width: 50%;
}

.quizCreated{
    width: 100vw;
}

.cardContainer{
    width: 80vw;
}

.card, .card-img-top{
    border-radius: 1.5vh;
}

.hijauGradient{
    background: linear-gradient(90deg, #1F8C8C 0%, #24BFA3 111.76%);
}

.subjudul{
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    color: #F2EBDC;
    font-size: 24px;
    height: 61.25px;
}

.tulisanHijau{
    color: #1F8C8C;
}

.card{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.card-title{
    font-size: 40px;
}

@media only screen and (max-width: 991px) {
    .navbar-brand {
        padding-left: 1rem;
    }
}

@media only screen and (max-width: 766px){
    .biodataTeks{
        text-align: center;
    }

    .mailBirth{
        width: 100%;
    }

    .profile-photos-container{
        width: 100vh;
        height: auto;
    }

    .biodataContainer{
        margin-bottom: 15vh;
    }

    .row{
        margin-right: 0px;
        margin-left: 0px;
    }

}