<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Quiz Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" />
    <!--load icon library-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" th:href="@{/css/errorStyles.css}">
  </head>

  <body th:inline="text">
  <header>
    <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand logo" href="/"><img src="/svg/logo.svg" alt="" crossorigin="anonymous"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="mr-auto"></div>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <div class="dropdown">
                <a href="/quiz" class="nav-link">Create Quiz</a>
              </div>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/signup">Signup
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <div class="dropdown">
                <a href="/userProfile" id="username" class="nav-link" style="background-color: #1F8C8C; border-radius: 2em; color: #ffffff; padding-left: 2em; padding-right: 2em; font-weight: 700;">Hi, </a>
                <div class="dropdown-content">
                  <a href="/logout" id="logout">Logout</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <section class="content">
    <div class="container-fluid d-flex justify-content-center align-items-center flex-column text-center align-middle content">
      <div class="judul">404</div>
      <div class="subjudul dialogBox mb-1">Dear User,<br>The page you are looking for is not exists. Please continue using our website by clicking the page on the navbar.</div>
    </div>
    <img src="/svg/shape1.svg" class="image-fluid imgage shape1">
    <img src="/svg/shape2.svg" class="image-fluid imgage shape2">
  </section>

  <footer class="d-flex  align-items-end w-100">
    <div class="container-fluid footer d-flex flex-column justify-content-center">
      <div class="row">
        <div class="col-4 kontak d-flex justify-content-center align-items-center">
          <span class=""><img src="/svg/quizkufooter.svg" alt=""></span>
        </div>
        <div class="col-8  foto-kontak d-flex justify-content-around align-items-center">
          <img class="img-fluid" src="/img/Hendrico.png">
          <img class="img-fluid" src="/img/Hilmy.png">
          <img class="img-fluid" src="/img/Ian.png">
          <img class="img-fluid" src="/img/Putu.png">
          <img class="img-fluid" src="/img/Ravi.png">
        </div>
      </div>
    </div>
  </footer>

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script th:src="@{/js/quizProfile.js}" type="text/javascript"></script>
  <script th:src="@{/js/refresh.js}" type="text/javascript"></script>
  <script th:src="@{/js/navBar.js}" type="text/javascript"></script>
  </body>
</html>
