<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Unauthorized</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/errorStyles.css}">
  </head>

  <body th:inline="text">
  <section class="content">
    <div class="container-fluid d-flex justify-content-center align-items-center flex-column text-center align-middle content">
      <div class="judul">401</div>
      <div class="subjudul dialogBox mb-1" id="dialogBox">Dear User,<br>To access the page You must login or create an account first. Try Reload this page or click the button below if the problem still remains.</div>
      <a href="/login" class="btn btn-primary d-flex justify-content-center hijauGradient" style="border-radius: 1vh">Back to Login Page</a>
    </div>
    <img src="/svg/shape1.svg" class="image-fluid imgage shape1">
    <img src="/svg/shape2.svg" class="image-fluid imgage shape2">
  </section>

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script th:src="@{/js/refresh.js}" type="text/javascript"></script>
  </body>
</html>
