<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Quiz Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" />
    <!--load icon library-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/userProfileStyles.css}">
</head>

<body th:inline="text">
<img class="backgroundGradient" th:src="@{/svg/background gradient.svg}">
<header>
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand logo" href="/"><img src="/svg/logo.svg" alt="" crossorigin="anonymous"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="mr-auto"></div>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <a href="/quiz" class="nav-link">Create Quiz</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/signup">Signup
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <a href="/userProfile" id="username" class="nav-link" style="background-color: #1F8C8C; border-radius: 2em; color: #ffffff; padding-left: 2em; padding-right: 2em; font-weight: 700;">Hi, </a>
                            <div class="dropdown-content">
                                <a href="/logout" id="logout">Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<section class="content d-flex justify-content-center">
    <div class="container-fluid d-flex justify-content-center row biodataContainer">
        <div class="col-md-4 d-flex justify-content-center profile-photos-container" id="imageProfile">
        </div>
        <div class="col-md-8 biodataTeks">
            <div class="row namaUser"><div class="col-sm" id="fullName">
            </div>
            </div>
            <div class="row Username"><div class="col-sm" id="usernameContent">
                Username:
            </div>
            </div>
            <br>
            <div class="row d-flex align-items-center mb-2 mailBirth">
                <div class="col-md-2">
                    <img src="/svg/mailIcon.svg" class="iconBiodata">
                </div>
                <div class="col-md-10 subteksBiodata" id="email"></div>
            </div>
        </div>

    </div>

</section>

<section>
    <div class="d-flex quizCreated justify-content-center">
        <div class="card cardContainer m-2" style="border-radius: 1.5vh">
            <div class="card-header subjudul hijauGradient " style="border-radius: 1.5vh">Quiz Created</div>
            <div class="card-body" style="padding-top:0px">
                <div id="resultQuizCreated" class="row">
                </div>
            </div>
        </div>
</section>

<section>
    <div class="d-flex quizCreated justify-content-center">
        <div class="card cardContainer m-2" style="border-radius: 1.5vh">
            <div class="card-header subjudul hijauGradient " style="border-radius: 1.5vh">Quiz Answered</div>
            <div class="card-body" style="padding-top:0px">
                <div id="resultQuizAnswered" class="row">
                </div>
            </div>
        </div>
</section>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script th:src="@{/js/refresh.js}" type="text/javascript"></script>
<script th:src="@{/js/navBar.js}" type="text/javascript"></script>
<script th:src="@{/js/userProfile.js}" type="text/javascript"></script>
</body>
</html>
